div.containerSport{
    // background-color: rgba(255, 85, 85, 0.11); //
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;


    .containerDay{
        // background-color: rgba(121, 202, 255, 0.51); //
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;

        .separator{
            position: absolute;
            outline: 1px solid rgb(82, 82, 82);
            height: 60%;
            right: 1px;
        }
    }

    .containerExercices{
        // background-color: rgba(0, 128, 0, 0.179); //
        display: flex;
        justify-content: center;
        align-items: center;

        .layout{
            // background-color: rgba(255, 0, 0, 0.332);
            width: 90%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 25% 75%;

            .header{
                // background-color: green;
                display: flex;
                align-items: flex-end;
                margin-bottom: 2rem;
                button.add{
                    background-color: black;
                    border: none;
                    color: white;
                    padding: 1rem;
                    font-size: 1.1rem;
                    padding-right: 3rem;
                    padding-left: 3rem;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.729);
                        cursor: pointer;
                    }
                }
            }

            .exerciceList{
                // background-color: red; //
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                overflow-y: auto;
            }
        }
    }
}