div.navigation{
    // outline: 1px solid black; //
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: fit-content;
    display: flex;
    gap: 1rem;
    position: absolute;
    z-index: 10;
}